@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&display=swap");

html {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-variant-ligatures: none;
  user-select: none;
  text-align: center;
}

button {
  outline: none;
  box-shadow: 0px 4px 0px 0px #bfbfbf;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  transform: translate(0px, 4px);
  box-shadow: none;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 64px;
  margin-top: 8px;
  margin-bottom: 0px;
}

h2 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.container {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;

  padding: 15px;
  border: solid #808080 4px;
  border-radius: 8px;
}

button,
.display {
  width: 100px;
  height: 100px;
  border: solid #00000080 4px;
  border-radius: 8px;
  margin: 5px;
  font-size: 25px;
  font-weight: bolder;
}

.number {
  background: #e6e6e6;
  color: #000000;
}

.sign {
  background: #cccccc;
  color: #000000;
}

.function {
  background: #0080ff;
  color: #ffffff;
}

.display {
  width: 430px;
  height: 150px;
  margin: 5px;
  background: #e6e6e6;
  text-align: right;
  overflow: hidden;
}

#top-text,
#bottom-text {
  user-select: all;
}

#top-text {
  color: #808080;
  font-size: 50px;
  height: 50px;
}

#bottom-text {
  font-size: 75px;
  height: 100px;
}

.help {
  margin: 8px;
}
