body {
    font-family: 'IBM Plex Sans';
    font-size: 12pt;
    padding: 3em;
    box-sizing: border-box;
    align-items: start;
    justify-content: start;
    background: linear-gradient(150deg, #17338c, #86136b);
}

#grumble {
    font-size: 40pt;
    font-weight: 500;
    text-align: left;
    width: min(max(25ch, 70%), 100%);
    hyphens: none;
    margin: 0;
    margin-bottom: 1em;
    user-select: none;
}

#grumble::before {
    content: '\201e';
    opacity: 30%;
    margin-right: .3ch;
}

#grumble::after {
    content: '\201c';
    opacity: 30%;
    margin-left: .3ch;
}

footer {
    margin-top: auto;
    user-select: none;
}

a {
    text-decoration: none;
    color: #d062b6;
}
