.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons > a {
    width: 2rem;
    height: 2rem;
    /* i don't like this */
    filter: invert(0.9);

    &:hover {
        filter: invert(0.75);
    }
}

.project-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 32rem;
    text-align: initial;

    > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: var(--gray-10);
        padding: 1rem;
        border-radius: 2rem;

        > h3 {
            display: flex;
            align-items: center;
            gap: 0.25em;
            margin: 0.5rem;
        }

        > p {
            margin: 0.5rem;
        }
    }
}

.github-link {
    display: inline-block;
    width: 1em;
    height: 1em;
    /* i still don't like this */
    filter: invert(0.9);

    &:hover {
        filter: invert(0.75);
    }
}
