:root {
    /* One Dark theme https://github.com/atom/atom/tree/master/packages/one-dark-syntax */
    --cyan: hsl(187, 47%, 55%);
    --blue: hsl(207, 82%, 66%);
    --purple: hsl(286, 60%, 67%);
    --green: hsl(95, 38%, 62%);
    --red: hsl(355, 65%, 65%);
    --orange: hsl(29, 54%, 61%);
}

body {
    margin-left: 2rem;
    margin-right: 2em;
    gap: 1rem;
}

input,
button {
    color: unset;
    border: unset;
    user-select: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-preferences {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.charsets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.password-container {
    display: flex;
    gap: 0.5rem;
}

input,
button,
.password {
    background: var(--gray-10);
    padding: 1em;
    border-radius: 1em;
}

.password {
    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
    max-width: 128ch;
    user-select: all;
    word-break: break-all;
}

.password-hidden {
    -webkit-text-security: disc;
}

.password-button {
    transition-property: color, background;
    transition-duration: 0.5s;
}

.copy-success {
    color: var(--black);
    background: var(--green);
}

.copy-error {
    color: var(--black);
    background: var(--red);
}

.password-stats {
    text-align: left;
}

.lowercase {
    color: var(--purple);
}

.uppercase {
    color: var(--orange);
}

.numbers {
    color: var(--green);
}

.punctuation {
    color: var(--blue);
}

.punctuation-extended {
    color: var(--cyan);
}

.error {
    color: var(--red);
}
