:root {
  /* One Dark theme https://github.com/atom/atom/tree/master/packages/one-dark-syntax */
  --cyan: hsl(187, 47%, 55%);
  --blue: hsl(207, 82%, 66%);
  --purple: hsl(286, 60%, 67%);
  --green: hsl(95, 38%, 62%);
  --red: hsl(355, 65%, 65%);
  --orange: hsl(29, 54%, 61%);
}

@media (prefers-color-scheme: light) {
  :root {
    /* One Light theme https://github.com/atom/atom/tree/master/packages/one-light-syntax */
    --cyan: hsl(198, 99%, 37%);
    --blue: hsl(221, 87%, 60%);
    --purple: hsl(301, 63%, 40%);
    --green: hsl(119, 34%, 47%);
    --red: hsl(5, 74%, 59%);
    --orange: hsl(35, 99%, 36%);
  }
}

body {
  margin-inline: 2rem;
  gap: 1rem;
}

input,
button {
  color: unset;
  border: unset;
  user-select: none;
}

button {
  cursor: pointer;

  transition-property: color, background;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-end {
  align-items: flex-end;
}

.password-container {
  display: flex;
  gap: 0.5rem;
}

input,
button,
.password {
  background: var(--gray-10);
  padding: 1em;
  border-radius: 1em;
}

button:hover {
  background: var(--gray-20);
}

button[highlight="success"] {
  background: var(--green);
}

button[highlight="error"] {
  background: var(--red);
}

.password {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  max-width: 128ch;
  user-select: all;
  word-break: break-all;
}

.password-hidden {
  -webkit-text-security: disc;
}

.password-button {
  > img {
    filter: invert(0.1);
  }
}

@media (prefers-color-scheme: light) {
  .password-button > img {
    filter: invert(0.9);
  }
}

.password-stats {
  text-align: left;
}

.lowercase {
  color: var(--purple);
}

.uppercase {
  color: var(--orange);
}

.numbers {
  color: var(--green);
}

.punctuation {
  color: var(--blue);
}

.punctuation-extended {
  color: var(--cyan);
}

.error {
  color: var(--red);
}
